.main-header {
  position: relative;
}

.main-header__logo {
  margin: auto 0;
  padding: 22px 30px;
  box-shadow:
    inset 0 1px 0 0 #ececec,
    0 1px 0 0 #ececec;
}

.main-header__control-popup {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background: url("../img/icon-menu-close.svg") no-repeat;
  cursor: pointer;
}
