.font-title-index {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.font (@size, @height, @weight: 400) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
}

.btn (@width) {
  display: block;
  width: @width;
  padding: 14px 5px;
  font-family: @font-base;
  .font(17px, 20px, 700);
  color: #444444;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.color-temp (@r, @g, @b) {
  background-color: rgba(@r, @g, @b, 0.15);
}


