.font-title-index {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.font (@size, @height, @weight: 400) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
}

.color-temp (@r, @g, @b) {
  background-color: rgba(@r, @g, @b, 0.15);
}
