@import "font/font-family.less";

@import "mixin.less";

@import "variables.less";

@import "block/container.less";

@import "block/visually-hidden.less";


body {
  width: 320px;
  padding: 0;
  margin: 0;
  font-family: @font-base;
  box-sizing: border-box;
}
@import "block/main-header.less";
@import "block/logo.less";
@import "block/site-navigation.less";
@import "block/site-description.less";
@import "block/goods-week.less";
@import "block/button.less";
@import "block/features.less";
@import "block/reviews.less";
@import "block/feedback.less";
@import "block/map.less";
@import "block/main-footer.less";
@import "block/modal-overlay.less";
@import "block/modal-window.less";
@import "block/page-title.less";
@import "block/catalog.less";
@import "block/production.less";
@import "block/form.less";
@import "block/field-type.less";
@import "block/field-color.less";
@import "block/field-name.less";
@import "block/field-tel.less";
@import "block/field-email.less";
@import "block/field-message.less";
