.catalog {
  padding: 0 30px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: @font-base;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.catalog__item-img {
  margin-bottom: 28px;
}

.catalog__item-name {
  display: block;
  margin-bottom: 8px;
  padding-left: 28px;
  .font(17px, 24px, 700);
  color: #000000;
  text-decoration: none;
}

.catalog__item-options {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 28px;
  .font(13px, 30px);
}

.catalog__item-buy {
  display: flex;
  align-items: center;
  margin: 0 28px;
  margin-bottom: 30px;
  padding-top: 22px;
  .font(15px, 24px, 700);
  border-top: 1px solid #ececec;
}

.catalog__item-price {
  flex-grow: 1;
  margin: 0;
}

.catalog__button-buy {
  width: 20px;
  height: 20px;
  background: url("../img/icon-cart.svg") no-repeat;
  border: none;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding: 0 50px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    flex-direction: row;
  }

  .catalog__item-description {
    display: flex;
    flex-direction: column;
  }

  .catalog__item-buy {
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: 50px;
  }

  .catalog__list {
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    width: 316px;
    margin: 0 26px;
  }
}
