.features {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-top: 38px;
  padding-bottom: 30px;
  font-family: @font-base;
}

.features__title {
  margin: 0;
  .font-title-index;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__list--left,
.features__list--right {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 84px;
  .font(17px, 20px, 700);
  color: #000000;
}

.features__item--ecology {
  background: url("../img/icon-feature-flower.svg") no-repeat 10px 30px;
}


.features__item--style {
  background: url("../img/icon-feature-money.svg") no-repeat 2px 30px;
}

.features__item--like {
  background: url("../img/icon-feature-heart.svg") no-repeat 10px 35px;
}

.features__item--ball {
  background: url("../img/icon-feature-ball.svg") no-repeat 5px 35px;
}

.features__item--rocket {
  background: url("../img/icon-feature-rocket.svg") no-repeat 0 35px;
}

.features__item--box {
  background: url("../img/icon-feature-gift.svg") no-repeat 5px 35px;
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .features__title {
    .font(43px, 50px, 700);
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__list--left {
    width: 334px;
    padding-right: 90px;
  }

  .features__list--right {
    width: 334px;
    padding-right: 34px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding: 0 100px;
  }
}
