.features {
  font-family: @font-base;
}

.features__title {
  margin: 0;
  .font-title-index;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 84px;
  .font(17px, 20px, 700);
  color: #000000;
}

.features__item--ecology {
  background: url("../img/icon-feature-flower.svg") no-repeat 10px 30px;
}


.features__item--style {
  background: url("../img/icon-feature-money.svg") no-repeat 2px 30px;
}

.features__item--like {
  background: url("../img/icon-feature-heart.svg") no-repeat 10px 35px;
}

.features__item--ball {
  background: url("../img/icon-feature-ball.svg") no-repeat 5px 35px;
}

.features__item--rocket {
  background: url("../img/icon-feature-rocket.svg") no-repeat 0 35px;
}

.features__item--box {
  background: url("../img/icon-feature-gift.svg") no-repeat 5px 35px;
}
