.feedback {
  font-family: @font-base;
}

.feedback__title {
  margin: 0;
  .font(18px, 30px, 700);
  color: #000000;
}

.feedback__item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feedback__item {
  width: 77px;
  .font(15px, 30px);
  color: #444444;
}

.feedback__value {
  width: 180px;
  .font(15px, 30px);
  color: #444444;
}
