.field-message {
  display: flex;
  flex-direction: column;
}

.field-message__name {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  .font(17px, 17px, 700);
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: ~"calc(100% - 62px)";
    height: 1px;
    content: "";
    background-color: #63d1bb;
  }
}

.field-message__textarea {
  height: 142px;
  padding: 14px 15px;
  .font(17px, 18px);
  color: #444444;
  border: 2px solid #000000;
  resize: none;

  &::placeholder {
    font-family: @font-base;
    .font(17px, 18px);
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
    outline: none;
  }

  &:active {
    border-color: #62d1ba;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .field-message {
    flex-direction: row;
  }

  .field-message__name {
    width: 167px;
    padding-top: 17px;

    &::after {
      display: none;
    }
  }

  .field-message__textarea {
    width: 500px;
    font-family: @font-base;
    .font(19px, 19px);

    &::placeholder {
      font-family: @font-base;
      .font(19px, 18px);
    }
  }
}

@media (min-width: @desktop-width) {
  .field-message__name {
    width: 175px;
    padding-left: 62px;
  }

  .field-message__textarea {
    width: 700px;
  }
}
