.field-email {
  display: flex;
  flex-direction: column;
}

.field-email__name {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  .font(17px, 17px, 700);
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: ~"calc(100% - 81px)";
    height: 1px;
    content: "";
    background-color: #63d1bb;
  }
}

.field-email__input {
  padding: 15px 0;
  padding-right: 45px;
  .font(17px, 18px);
  color: #444444;
  background: url("../img/icon-mail.svg") no-repeat 98% 9px;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    .font(17px, 18px);
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .field-email {
    flex-direction: row;
    padding-bottom: 50px;
    align-items: baseline;
  }

  .field-email__name {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .field-email__input {
    width: 500px;
    padding-top: 11px;
    padding-left: 17px;
    padding-right: 10%;

    .font(19px, 19px);
    background-position: 95%;

    &::placeholder {
      .font(19px, 19px);
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .field-email {
    align-items: center;
  }

  .field-email__name {
    width: 175px;
    margin: 0;
    padding-left: 62px;
  }

  .field-email__input {
    width: 700px;
    background-position: 99%;
  }
}
