.field-type {
  display: flex;
  flex-direction: column;
}

.field-type__name {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  .font(17px, 17px, 700);
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: ~"calc(100% - 62px)";
    height: 1px;
    content: "";
    background-color: #63d1bb;
  }
}

.field-type__form {
  display: flex;
  flex-direction: column;
}

.field-type__input {
  display: none;
}

.field-type__input:checked + .field-type__label::after {
  background-color: #62d1ba;
}

.field-type__label {
  position: relative;
  width: 260px;
  padding: 10px 40px;
  padding-bottom: 14px;
  padding-left: 60px;
  .font(17px, 18px, 700);
  color: #000000;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: 12px;
    left: 12px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &:hover::before,
  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .field-type {
    flex-direction: row;
  }

  .field-type__name {
    width: 167px;
    margin: 0;
    padding-top: 17px;

    &::after {
      display: none;
    }
  }

  .field-type__label {
    width: 100%;
    margin-bottom: 24px;
    padding: 17px 40px;
    padding-left: 80px;
    .font(19px, 19px, 700);

    &::before {
      width: 53px;
      height: 53px;
    }

    &::after {
      top: 16px;
      left: 16px;
      width: 22px;
      height: 22px;
    }
  }
}

@media (min-width: @desktop-width) {
  .field-type__name {
    width: 175px;
    padding-left: 65px;
  }
}
