.field-message {
  display: flex;
  flex-direction: column;
}

.field-message__name {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  .font(17px, 17px, 700);
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 198px;
    height: 1px;
    content: "";
    background-color: #63d1bb;
  }
}

.field-message__textarea {
  height: 110px;
  padding: 16px 17px;
  padding-right: 45px;
  .font(19px, 19px, 400);
  color: #444444;
  border: 2px solid #000000;
  resize: none;

  &::placeholder {
    .font(19px, 19px, 400);
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .field-message {
    flex-direction: row;
  }

  .field-message__name {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .field-message__textarea {
    width: 500px;
  }
}
