.field-email {
  position: relative;

  display: flex;
  flex-direction: column;
}

.field-email__name {
  position: relative;

  margin: 0;
  margin-bottom: 10px;

  color: #63d1bb;
  text-transform: uppercase;

  .font(17px, 17px, 700);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    width: ~"calc(100% - 81px)";
    height: 1px;

    background-color: #63d1bb;
  }
}

.field-email__input {
  padding: 15px 0;
  padding-right: 45px;

  color: #444444;

  border: none;
  border-bottom: 2px solid #000000;

  .font(17px, 18px);

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);

    .font(17px, 18px);
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
    outline: none;

    & + .field-email__input-icon {
      opacity: 1;

      fill: #62d1ba;
    }
  }

  &:active {
    border-color: #62d1ba;
    outline: none;
  }
}

.field-email__input-icon {
  position: absolute;
  top: 34px;
  right: 34px;

  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .field-email {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 50px;
  }

  .field-email__name {
    width: 167px;

    &::after {
      display: none;
    }
  }

  .field-email__input {
    width: 500px;
    padding: 11px 17px;
    padding-right: 10%;

    background: #f1f1f1;

    .font(19px, 19px);

    &::placeholder {
      color: rgba(68, 68, 68, 0.3);

      .font(19px, 19px);
    }
  }

  .field-email__input-icon {
    top: 9px;
    left: 664px;
  }
}

@media (min-width: @desktop-width) {
  .field-email {
    align-items: center;
    max-width: @desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .field-email__name {
    width: 175px;
    margin: 0;
    padding-left: 62px;
  }

  .field-email__input {
    width: 700px;

    background-position: 99%;
  }

  .field-email__input-icon {
    left: 890px;
  }
}
