.field-color {
  display: flex;
  flex-direction: column;
}

.field-color__name {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  .font(17px, 17px, 700);
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: ~"calc(100% - 62px)";
    height: 1px;
    content: "";
    background-color: #63d1bb;
  }
}

.field-color__form {
  display: flex;
  flex-direction: column;
}

.field-color__input {
  display: none;
}

.field-color__input:checked + .field-color__label::after {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 22px 16px;
}

.field-color__label {
  position: relative;
  padding: 13px 40px;
  padding-bottom: 30px;
  padding-left: 60px;
  .font(17px, 18px, 700);
  color: #000000;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
  }

  &::after {
    position: absolute;
    top: 7px;
    left: 3px;
    content: "";
    width: 35px;
    height: 30px;
  }

  &:hover::before,
  &:focus::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.field-color__label:last-child {
  padding-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .field-color {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 23px;
  }

  .field-color__name {
    width: 113px;
    margin: 0;
    padding-top: 17px;

    &::after {
      display: none;
    }
  }

  .field-color__form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
  }

  .field-color__label {
    width: 210px;
    margin-left: 53px;
    padding-left: 80px;
    padding-bottom: 45px;
    .font(19px, 19px, 700);

    &::before {
      width: 54px;
      height: 52px;
    }

    &::after {
      top: 2px;
      left: 3px;
      width: 50px;
      height: 50px;
    }
  }

  .field-color__input:checked + .field-color__label::after {
    background: url("../img/icon-tick.svg") no-repeat center;
    background-size: 33px 22px;
  }
}

@media (min-width: @desktop-width) {
  .field-color__name {
    width: 121px;
    padding-left: 60px;
  }

  .field-color__form {
    width: 900px;
  }
}
