.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.form__field-type {
  margin-bottom: 34px;
}

.form__field-color {
  margin-bottom: 34px;
}

.form__name {
  margin-bottom: 34px;
}

.form__tel {
  margin-bottom: 34px;
}

.form__email {
  margin-bottom: 34px;
}

.form__message {
  margin-bottom: 18px;
}

.form__submit {
  display: flex;
  flex-direction: column;
}

.form__note {
  margin: 0;
  margin-bottom: 31px;
  .font(14px, 16px);
  color: #444444;
}

.form__submit-button {
  .btn(260px);
}

@media (min-width: @tablet-width) {
  .form__submit {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form__field-color {
    background: #f1f1f1;
  }

  .form__tel {
    background: #f1f1f1;
  }

  .form__email {
    background: #f1f1f1;
  }
}

@media (min-width: @desktop-width) {
  .form__submit {
    flex-direction: row;
  }
}
