.logo__link {
  display: block;
}

.logo__link--active {
  display: block;
  width: 86px;
  margin: 0 auto;


  &:hover,
  &:focus {
    & .logo__img {
      opacity: 0.6;
    }
  }

  &:active {
    & .logo__img {
      opacity: 0.3;
    }
  }
}

.logo__img {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .logo__img {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .logo__img {
    width: 149px;
    height: 72px;
  }
}
