@import "social.less";

.main-footer {
  font-family: @font-base;
  background: #f1f1f1;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
}

.main-footer__logo {
  display: none;
}

.main-footer__social {
  display: flex;
  margin: 0 auto;
  padding: 9px 40px;
  border-bottom: 1px solid #e5e5e5;
}

.main-footer__copyright {
  display: flex;
  margin: 0 auto;
  padding: 24px 40px;
  padding-bottom: 26px;
  color: #000000;
  text-decoration: none;

  &:hover {
    & .main-footer__logo-htmlacademy {
      fill: #46c1ae;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    & .main-footer__logo-htmlacademy {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.main-footer__developed {
  margin: 0;
  padding-top: 5px;
  .font(19px, 19px, 700);
}

.main-footer__logo-htmlacademy {
  margin-left: 26px;
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .main-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 38px 50px;
    padding-bottom: 41px;
  }

  .main-footer__logo-link {
    padding-top: 12px;

    &:hover {
      & .main-footer__logo {
        fill: #46c1ae;
      }
    }

    &:active {
      & .main-footer__logo {
        fill: #46c1ae;
        opacity: 0.3;
      }
    }
  }

  .main-footer__logo-link--no-active {
    &:hover {
      & .main-footer__logo {
        fill: inherit;
      }
    }

    &:active {
      & .main-footer__logo {
        fill: inherit;
        opacity: inherit;
      }
    }
  }

  .main-footer__logo {
    display: block;
    fill: #231f20;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 140px;
    padding: 0;
    padding-top: 4px;
    border: none;
  }

  .main-footer__copyright {
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 19px;
  }

  .main-footer__logo-htmlacademy {
    margin-left: 29px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__container {
    max-width: 1150px;
    margin: 0 auto;
  }

  .main-footer__social {
    margin-left: 330px;
  }
}
