.main-header {
  position: relative;
}

.main-header__logo {
  margin: auto 0;
  padding: 22px 0;
  border-top: 1px solid rgba(68, 68, 68, 0.1);
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.main-header__control-popup {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background: url("../img/icon-menu-close.svg") no-repeat;
  cursor: pointer;
}

.main-header__delivery {
  position: absolute;
  bottom: 20px;
  right: 50px;
  display: none;
  .font(15px, 24px);
  color: #444444;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-header__control-popup {
    display: none;
  }

  .main-header__logo {
    position: absolute;
    left: 50px;
    border: none;
  }

  .main-header__delivery {
    display: block;
  }
}
