.main-footer {
  display: flex;
  flex-direction: column;
  font-family: @font-base;
  background: #f1f1f1;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__developed {
  margin: 0;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
}

@import "social.less";
