.map {
  height: 457px;
  background: #f4e9d7 url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .map {
    background: #f4e9d7 url("../img/map-tablet@1x.jpg") no-repeat;
    background-size: cover;
  }
}
