.modal-window {
  display: none;
  position: fixed;
  top: 25%;
  left: 0;
  width: 320px;
  padding: 35px 30px;
  font-family: @font-base;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
}
.modal-window__name {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-window__size {
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.modal-window__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-window__form-input {
  display: none;
    &:checked + .modal-window__button-size {
      border-color: rgba(99, 209, 187, 1);
    }
}

.modal-window__button-size {
  width: 80px;
  margin-bottom: 30px;
  padding: 18px 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal-window__button {
  width: 260px;
  padding: 17px 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #63d1bb;
  border: none;
}
