.modal-window {
  position: fixed;
  top: 25%;
  left: ~"calc(50% - 160px)";
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 30px 30px;
  font-family: @font-base;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
  z-index: 11;
}

.modal-window__name {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 0;
  text-align: center;
  .font(25px, 30px, 700);
  text-transform: uppercase;
}

.modal-window__size {
  margin: 0 auto;
  margin-bottom: 23px;
  text-align: center;
  .font(15px, 30px);
}

.modal-window__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 17px;
}

.modal-window__form-input {
  display: none;

  &:checked + .modal-window__button-size {
    border-color: rgba(99, 209, 187, 1);
  }
}

.modal-window__button-size {
  width: 80px;
  margin-bottom: 30px;
  padding: 16px 0;
  .font(17px, 17px, 700);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal-window__button {
  width: 260px;
  padding: 17px 0;
  .font(17px, 17px, 700);
  text-transform: uppercase;
  color: #ffffff;
  background: #63d1bb;
  border: none;
}

@media (min-width: @tablet-width) {
  .modal-window {
    left: ~"calc(50% - 283px)";
    width: 566px;
    padding: 34px 30px;
  }

  .modal-window__name {
    width: 380px;
    margin-bottom: 14px;
    .font(30px, 57px, 700);
  }

  .modal-window__size {
    margin-bottom: 21px;
    .font(17px, 30px);
  }

  .modal-window__form {
    margin-bottom: 12px;
  }

  .modal-window__choice-size {
    width: 350px;
    margin: 0 auto;
  }

  .modal-window__button-size {
    width: 112px;
  }

  .modal-window__button {
    width: 100%;
  }
}


