.page-title__name {
  margin: 0;
  padding: 70px 30px;
  padding-bottom: 74px;
  .font(27px, 30px, 700);
  text-align: center;
  background-color: #f1f1f1;
}

.page-title__description {
  margin-top: 23px;
  padding: 0 30px;
  .font(13px, 24px);
  color: #444444;
}

@media (min-width: @tablet-width) {
  .page-title {
    margin-top: -60px;
    margin-bottom: 0;
  }

  .page-title__name {
    margin-bottom: 0;
    padding: 94px 30px;
    .font(43px, 50px, 700);
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 23px;
  }

  .page-title__description {
    margin-top: 60px;
    padding: 0 50px;
    .font(17px, 30px);
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    margin-bottom: 0;
  }

  .page-title__name {
    padding-bottom: 118px;
    .font(53px, 57px, 700);
    background-size: auto 34px;
  }

  .page-title__description {
    max-width: @desktop-width;
    margin: 0 auto;
    margin-top: 106px;
    margin-bottom: 17px;
    padding: 0 225px;
  }
}
