.production {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  border: 1px solid #ececec;
}

.production__title {
  margin: 0;
  padding: 24px 0;
  padding-left: 90px;
  .font(17px, 24px, 700);
  background: url("../img/icon-video.svg") no-repeat 35px 30px;
}

.production__video {
  position: relative;
  margin-bottom: 30px;
}

.production__video-play {
  position: absolute;
  top: 38px;
  left: 75px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.production__video-description {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 34px;
  width: 190px;
  .font(13px, 24px);
  color: #444444;
}

.production__button {
  margin: 0 34px;
  margin-bottom: 32px;
  padding: 17px 0;
  .font(17px, 17px, 700);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444444;
  border: 2px solid #444444;
}
