.production {
  display: flex;
  flex-direction: column;
  width: 262px;
  margin: 0 auto;
  margin-bottom: 58px;
  border: 1px solid #ececec;
}

.production__title {
  margin: 0;
  padding: 24px 0;
  padding-left: 90px;
  .font(17px, 24px, 700);
  background: url("../img/icon-video.svg") no-repeat 35px 30px;
}

.production__video {
  position: relative;
  margin-bottom: 30px;
}

.production__video-play {
  position: absolute;
  top: 38px;
  left: 75px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.production__video-description {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 34px;
  width: 190px;
  .font(13px, 24px);
  color: #444444;
}

.production__button {
  align-self: center;
  margin-bottom: 32px;
  .btn(192px);
}

@media (min-width: @tablet-width) {
  .production {
    width: inherit;
    margin: 0 50px;
  }

  .production__title {
    .font(20px, 24px, 700);
  }

  .production__video-description {
    width: 100%;
    padding: 0 40px;
    .font(15px, 30px);
  }

  .production__video {
    order: -1;
  }

  .production__button {
    .btn(584px);
  }
}

@media (min-width: @desktop-width) {
  .production {
    min-height: 455px;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .production__title {
    width: 242px;
    margin-left: auto;
  }

  .production__video {
    position: absolute;
    width: 682px;
    height: 455px;
    margin: 0;
    background: #ececec;
  }

  .production__video-description {
    width: 242px;
    margin-left: auto;
    .font(15px, 30px);
  }

  .production__button {
    margin-left: auto;
    .btn(230px);
  }
}
