.site-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.site-navigation__link {
  display: block;
  padding: 27px 0;
  padding-left: 76px;
  text-decoration: none;
  font-family: @font-base;
  .font(17px, 24px, 700);
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-navigation__item--search {
  background: url("../img/icon-search.svg") no-repeat 30px 30px;
}

.site-navigation__item--cart {
  background: url("../img/icon-cart.svg") no-repeat 30px 30px;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    flex-direction: column-reverse;
  }

  .site-navigation__list {
    padding: 0 50px;
  }

  .site-navigation__item {
    border: none;
  }

  .site-navigation__list--main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & .site-navigation__link {
      padding: 20px 0;
      padding-right: 35px;
      .font(15px, 24px, 700);
    }
  }

  .site-navigation__list--user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);

    & .site-navigation__item {
      border-left: 1px solid rgba(68, 68, 68, 0.1);
    }
  }

  .site-navigation__item--search {
    & .site-navigation__link {
      font-size: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-navigation {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  }

  .site-navigation__list--user {
    border: none;
  }

  .site-navigation__list--main {
    & .site-navigation__link {
      padding: 27px 0;
      padding-right: 35px;
      .font(17px, 24px, 700);
    }
  }

  .site-navigation__list--additional {
    display: flex;
    flex-direction: row;
  }

  .site-navigation__item--to-order {
    & .site-navigation__link {
      padding-left: 35px;
      border-left: 1px solid rgba(68, 68, 68, 0.1);
    }
  }
}
