.social {
  display: flex;
}

.social__item {
  padding: 30px;
  justify-content: center;
}

.social__icon {
  fill: #221f1f;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

